$themeRed: #CC3D3D;
$gray: #999;
$black: #333;


@mixin linear-gradient($starColor,$endColor,$deg:45) {
    background: $starColor;
    background: -moz-linear-gradient(#{$deg}deg, $starColor 0%, $endColor 100%);
    background: -webkit-linear-gradient(#{$deg}deg, $starColor 0%,$endColor 100%);
    background: linear-gradient(#{$deg}deg, $starColor 0%,$endColor 100%);
}

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-mutiplue-overflow($n:2) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
}
